<ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
            <h6 class="my-0">Actores</h6>
            <ul class="list-group mb-3 text-muted lista-actores">
                <li  (click)="eligeActor(actor)" class="list-group-item d-flex justify-content-between lh-condensed "
                *ngFor="let actor of listadoActores">
                {{actor.nombre}} {{actor.apellido}} -{{actor.pais}}
                </li>
            </ul>
        </div>
    </li>
</ul>